$_white: #FFFFFF;
$_black: #000000;
$_brown: #4F4333;
$_200: #EEEFD4;
$_w_300: #FDF6DE;
$_w_400: #F7D0C2;
$_blue: #0A2D49;
$_purple_200: #A243B1;
$_purple_100: #F2C2FB;
$_ye_200: #FFEFA1;
$_ye_300: #F9B501;
$_backg: #B9DDF9;
$_w_500: #E2E1C2;



