<footer class="footer">
  <div class="content-container">
    <div class="container">
      <div class="footer-wrapper">
        <div class="nav-logo-father">
          <div class="footer-wrapper-nav-logo">
            <img
              srcset="./img/favikon1x.png 1x, ./img/favikon2x.png 2x"
              width="60"
              height="60"
              src="./img/favikon1x.png"
              alt="Favicon Storm Wings"
              class="footer-favicon"
            />
            <p class="footer-favicon-p">Storm Wings</p>
          </div>
        </div>

        <div class="footer-play">
          <h3 class="footer-play-text">Rise Above the Storm!</h3>
          <button
            type="submit"
            class="footer-btn"
            onclick="window.open('https://play.google.com/store/apps/details?id=com.halfbrick.stormwings&hl=en&gl=us', '_blank');"
          >
            <svg class="footer-btn-svg" width="24" height="27">
              <use href="./img/sprite.svg#icon-google"></use>
            </svg>
            Play Now
          </button>
        </div>

        <img
          srcset="./img/cloud-storm1x.png 1x, ./img/cloud-storm2x.png 2x"
          width="413"
          height="288"
          src="./img/cloud-storm1x.png"
          alt="Cloud Storm Wings"
          class="footer-cloud"
        />

        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a href="./cookies-policy.html" class="nav-link">COOKIE POLICY</a>
          </li>

          <li class="footer-nav-item">
            <a href="./terms-conditions.html" class="nav-link"
              >TERMS AND CONDITIONS</a
            >
          </li>

          <li class="footer-nav-item">
            <a href="./privacy-policy.html" class="nav-link">PRIVACY POLICY</a>
          </li>

          <!-- <li class="footer-nav-item">
                <a href="./accept-cookies.html" class="nav-link">ACCEPT COOKIES</a>
              </li> -->
        </ul>
      </div>
    </div>
  </div>

  <div class="container-line">
    <hr class="footer-line" />
    <p class="footer-text">
      All rights reserved, 2025.
      <a
        href="https://playqueststorm.com"
        target="_blank"
        rel="noopener noreferrer"
        >playqueststorm.com</a
      >
    </p>
  </div>
</footer>
