<footer class="footer">
  <nav class="footer-nav">
    <ul class="footer-nav-list">
      <li class="footer-nav-item">
        <a href="./privacy-policy.html" class="nav-link">Privacy Policy</a>
      </li>

      <li class="footer-nav-item">
        <a href="./terms-conditions.html" class="nav-link"
          >Terms & Conditions</a
        >
      </li>

      <li class="footer-nav-item">
        <a href="./cookies-policy.html" class="nav-link">Cookies Policy</a>
      </li>

      <li class="footer-nav-item">
        <a href="./accept-cookies.html" class="nav-link">ACCEPT COOKIES</a>
      </li>
    </ul>
  </nav>
</footer>
