<footer class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <div class="footer-logo">
        <img
          srcset="./img/favikon1x.png 1x, ./img/favikon2x.png 2x"
          width="60"
          height="60"
          src="./img/favikon1x.png"
          alt="Favicon Storm Wings"
          class="footer-logo-img"
        />
        <p class="footer-logo-text">Storm Wings</p>
      </div>

      <div class="footer-play">
        <h3 class="footer-play-text">Rise Above the Storm!</h3>
        <a
          href="https://play.google.com/store/apps/details?id=com.halfbrick.stormwings&hl=en&gl=us"
          target="_blank"
          class="footer-play-link"
        >
          <img
            srcset="
              ./img/google-play-icon1x.png 1x,
              ./img/google-play-icon2x.png 2x
            "
            width="24"
            height="27"
            src="./img/google-play-icon1x.png"
            alt="iPhone15Pro"
            class="footer-play-img"
          />
          Play Now
        </a>
      </div>

      <img
        srcset="./img/cloud-storm1x.png 1x, ./img/cloud-storm2x.png 2x"
        width="413"
        height="288"
        src="./img/cloud-storm1x.png"
        alt="Cloud Storm Wings"
        class="footer-cloud"
      />

      <ul class="footer-nav-list">
        <li class="footer-nav-item">
          <a href="./cookies-policy.html" class="nav-link">COOKIE POLICY</a>
        </li>

        <li class="footer-nav-item">
          <a href="./terms-conditions.html" class="nav-link"
            >TERMS AND CONDITIONS</a
          >
        </li>

        <li class="footer-nav-item">
          <a href="./privacy-policy.html" class="nav-link">PRIVACY POLICY</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-rights">
    <div class="container footer-rights-container">
      
      <p class="footer-rights-text">
        All rights reserved, 2025.
        <a
          href="https://playqueststorm.com"
          target="_blank"
          rel="noopener noreferrer"
          >playqueststorm.com</a
        >
      </p>
    </div>
  </div>

  
</footer>
