<section class="vite-promo" id="description">
  <div class="container">
    <h1 class="how-title">Game Description</h1>

    <ul class="descr-card-container">
      <li class="descr-card-item">
        <picture class="descr-card-image">
          <source
            srcset="
              ./img/game_description_img/description_card1-desk1x.png 1x,
              ./img/game_description_img/description_card1-desc2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <img
            class="descr-card-image"
            src="./img/game_description_img/description_card1-mob1x.png"
            srcset="./img/game_description_img/description_card1-mob2x.png 2x"
            alt="Slide"
          />
        </picture>
        <p class="descr-card-text">
          Storm Wings takes players on a high-flying journey through dangerous
          skies, where they take control of an elite pilot in a world filled
          with fierce aerial combat, extreme weather conditions, and high-stakes
          missions. The game merges action, strategy, and customization into a
          thrilling experience.

          <span class="pink_color"></span>
        </p>
      </li>

      <li class="descr-card-item">
        <picture class="descr-card-image">
          <source
            srcset="
              ./img/game_description_img/description_card2-desk1x.png 1x,
              ./img/game_description_img/description_card2-desc2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <img
            class="descr-card-image"
            src="./img/game_description_img/description_card2-mob1x.png"
            srcset="./img/game_description_img/description_card2-mob2x.png 2x"
            alt="Slide"
          />
        </picture>
        <p class="descr-card-text">
          The game's dynamic weather system creates an ever-changing
          battlefield, where no two missions are the same. Players will need to
          learn how to anticipate the storm’s behavior, using it to their
          advantage or risk being overwhelmed. Unlock new levels, discover
          hidden resources, and improve your flying abilities as you climb the
          ranks of the elite.
          <span class="pink_color"></span>
        </p>
      </li>

      <li class="descr-card-item">
        <picture class="descr-card-image">
          <source
            srcset="
              ./img/game_description_img/description_card3-desk1x.png 1x,
              ./img/game_description_img/description_card3-desc2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <img
            class="descr-card-image"
            src="./img/game_description_img/description_card3-mob1x.png"
            srcset="./img/game_description_img/description_card3-mob2x.png 2x"
            alt="Slide"
          />
        </picture>
        <p class="descr-card-text">
          With multiplayer modes, players can compete against others in
          real-time, putting their flying skills to the ultimate test. Whether
          you're a beginner learning the basics or an expert mastering complex
          maneuvers, Storm Wings offers something for every type of player.
          Explore the skies, battle for survival, and prove you have what it
          takes to rule the air.

          <span class="pink_color"></span>
        </p>
      </li>
    </ul>
  </div>
</section>
