<header class="header">
  <div class="container">
    <div class="header-wrapper">
      
      <img
        srcset="./img/favikon1x.png 1x, ./img/favikon2x.png 2x"
        width="42"
        height="42"
        src="./img/favikon1x.png"
        alt="Favicon Storm Wings"
        class="logo-img"
      />
      <h2 class="logo-text">Storm Wings</h2>

      <nav class="nav" >
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#home" class="nav-link">Home</a>
          </li>

          <li class="nav-item">
            <a href="#description" class="nav-link">Game Description</a>
          </li>
          <li class="nav-item">
            <a href="#advantages" class="nav-link">Advantages</a>
          </li>
          <li class="nav-item">
            <a href="#reviews" class="nav-link">User Reviews</a>
          </li>
          <li class="nav-item">
            <a href="#how" class="nav-link">How to Play</a>
          </li>
          <li class="nav-item">
            <a href="#uniqueness" class="nav-link">Our Uniqueness</a>
          </li>
        </ul>
      </nav>
      <button type="button" class="burger-button" data-modal-open>
        <img
          width="16"
          height="14"
          src="./img/icon_burger.png"
          alt="burger-button"
          class="burger-img"
        />
      </button>
    </div>
  </div>
</header>
