<header class="header">
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="./privacy-policy.html" class="nav-link">Page 2</a>
      </li>

      <li class="nav-item">
        <a href="./page-3.html" class="nav-link">Page 3</a>
      </li>
    </ul>
    <button class="burger-button" data-modal-open>
      <svg class="burger-icon">
        <use href="/img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
    <button class="burger-button" data-modal-open>
      <svg class="burger-icon">
        <use href="/img/sprite.svg#icon-right"></use>
      </svg>
    </button>
    <button class="burger-button" data-modal-open>
      <svg class="burger-icon">
        <use href="/img/sprite.svg#icon-google"></use>
      </svg>
    </button>
    <button class="burger-button" data-modal-open>
      <svg class="burger-icon">
        <use href="/img/sprite.svg#icon-back"></use>
      </svg>
    </button>
  </nav>
</header>
