<section class="how" id="how">
  <div class="container how-clouds">
    <h2 class="how-title">How to Play</h2>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide how-mySwiper-slide">
          <div class="slide-container">
            <picture class="slide-image">
              <source
                srcset="
                  ./img/carrousel-desk/card1-desk1x.png 1x,
                  ./img/carrousel-desk/card1-desk2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                class="slide-image"
                src="./img/carrousel-mob/card1-mob1x.png"
                srcset="./img/carrousel-mob/card1-mob2x.png 2x"
                alt="Slide"
              />
            </picture>
            <div class="slide-text-container">
              <h3 class="slide-title">Select Your Aircraft</h3>
              <p class="slide-text">
                Choose your plane, each with its unique stats and abilities.
              </p>
            </div>
          </div>
        </div>

        <div class="swiper-slide how-mySwiper-slide">
          <div class="slide-container">
            <picture class="slide-image">
              <source
                srcset="
                  ./img/carrousel-desk/card2-desk1x.png 1x,
                  ./img/carrousel-desk/card2-desk2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                class="slide-image"
                src="./img/carrousel-mob/card2-mob1x.png"
                srcset="./img/carrousel-mob/card2-mob2x.png 2x"
                alt="Slide"
              />
            </picture>
            <div class="slide-text-container">
              <h3 class="slide-title">Upgrade Your Plane</h3>
              <p class="slide-text">
                Use resources earned in-game to upgrade your aircraft for better
                performance in combat and survival.
              </p>
            </div>
          </div>
        </div>

        <div class="swiper-slide how-mySwiper-slide">
          <div class="slide-container">
            <picture class="slide-image">
              <source
                srcset="
                  ./img/carrousel-desk/card3-desk1x.png 1x,
                  ./img/carrousel-desk/card3-desk2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                class="slide-image"
                src="./img/carrousel-mob/card3-mob1x.png"
                srcset="./img/carrousel-mob/card3-mob2x.png 2x"
                alt="Slide"
              />
            </picture>
            <div class="slide-text-container">
              <h3 class="slide-title">Complete Missions</h3>
              <p class="slide-text">
                Tackle a variety of missions, from storm navigation to aerial
                combat, to progress through levels.
              </p>
            </div>
          </div>
        </div>

        <div class="swiper-slide how-mySwiper-slide">
          <div class="slide-container">
            <picture class="slide-image">
              <source
                srcset="
                  ./img/carrousel-desk/card4-desk1x.png 1x,
                  ./img/carrousel-desk/card4-desk2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                class="slide-image"
                src="./img/carrousel-mob/card4-mob1x.png"
                srcset="./img/carrousel-mob/card4-mob2x.png 2x"
                alt="Slide"
              />
            </picture>
            <div class="slide-text-container">
              <h3 class="slide-title">Fight Other Pilots</h3>
              <p class="slide-text">
                Engage in intense dogfights against AI or other players in
                real-time multiplayer mode.
              </p>
            </div>
          </div>
        </div>

        <div class="swiper-slide how-mySwiper-slide">
          <div class="slide-container">
            <picture class="slide-image">
              <source
                srcset="
                  ./img/carrousel-desk/card5-desk1x.png 1x,
                  ./img/carrousel-desk/card5-desk2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                class="slide-image"
                src="./img/carrousel-mob/card5-mob1x.png"
                srcset="./img/carrousel-mob/card5-mob2x.png 2x"
                alt="Slide"
              />
            </picture>
            <div class="slide-text-container">
              <h3 class="slide-title">Avoid Storms</h3>
              <p class="slide-text">
                Navigate through dynamic storms, which can damage your plane or
                throw you off course.
              </p>
            </div>
          </div>
        </div>

        <div class="swiper-slide how-mySwiper-slide">
          <div class="slide-container">
            <picture>
              <source
                srcset="
                  ./img/carrousel-desk/card6-desk1x.png 1x,
                  ./img/carrousel-desk/card6-desk2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                class="slide-image"
                src="./img/carrousel-mob/card6-mob1x.png"
                srcset="./img/carrousel-mob/card6-mob2x.png 2x"
                alt="Slide"
              />
            </picture>
            <div class="slide-text-container">
              <h3 class="slide-title">Collect Resources</h3>
              <p class="slide-text">
                Gather items and currency during missions to improve your
                aircraft or unlock new abilities.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
