<section class="how" id="how">
  <div class="container">
    <div class="how-wrapper">
      <h2 class="how-title">How to Play</h2>

      <div class="how-carrousel">
        <swiper-container
          class="how-mySwiper"
          effect="cards"
          grab-cursor="true"
        >
          <swiper-slide class="how-mySwiper-slide">
            <picture>
              <source
                srcset="
                  ./img/carrousel-desk/card2-desk1x.png 1x,
                  ./img/carrousel-desk/card2-desk2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="./img/carrousel-mob/card2-mob1x.png"
                srcset="./img/carrousel-mob/card2-mob2x.png 2x"
                alt="Slide"
              /> </picture
          ></swiper-slide>

          <swiper-slide class="how-mySwiper-slide">
            <picture>
              <source
                srcset="
                  ./img/carrousel-desk/card3-desk1x.png 1x,
                  ./img/carrousel-desk/card3-desk2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="./img/carrousel-mob/card3-mob1x.png"
                srcset="./img/carrousel-mob/card3-mob2x.png 2x"
                alt="Slide"
              />
            </picture>
          </swiper-slide>

          <swiper-slide class="how-mySwiper-slide">
            <picture>
              <source
                srcset="
                  ./img/carrousel-desk/card4-desk1x.png 1x,
                  ./img/carrousel-desk/card4-desk2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="./img/carrousel-mob/card4-mob1x.png"
                srcset="./img/carrousel-mob/card4-mob2x.png 2x"
                alt="Slide"
              />
            </picture>
          </swiper-slide>

          <swiper-slide class="how-mySwiper-slide">
            <picture>
              <source
                srcset="
                  ./img/carrousel-desk/card5-desk1x.png 1x,
                  ./img/carrousel-desk/card5-desk2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="./img/carrousel-mob/card5-mob1x.png"
                srcset="./img/carrousel-mob/card5-mob2x.png 2x"
                alt="Slide"
              />
            </picture>
          </swiper-slide>

          <swiper-slide class="how-mySwiper-slide">
            <picture>
              <source
                srcset="
                  ./img/carrousel-desk/card6-desk1x.png 1x,
                  ./img/carrousel-desk/card6-desk2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="./img/carrousel-mob/card6-mob1x.png"
                srcset="./img/carrousel-mob/card6-mob2x.png 2x"
                alt="Slide"
              />
            </picture>
          </swiper-slide>
        </swiper-container>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
</section>
