<div class="backdrop is-hidden" data-backdrop>
  <div class="modal">
    <button type="button" class="back-button is-hidden" data-modal-close>
      <img
        width="20"
        height="16"
        src="./img/icon_back.png"
        alt="burger-button"
        class="back-img"
      />
    </button>

    <nav class="modal-nav is-hidden" data-modal>
      <ul class="modal-nav-list">
        <li class="modal-nav-item">
          <a href="#home" class="modal-nav-link">Home</a>
        </li>

        <li class="modal-nav-item">
          <a href="#description" class="modal-nav-link">Game Description</a>
        </li>
        <li class="modal-nav-item">
          <a href="#advantages" class="modal-nav-link">Advantages</a>
        </li>
        <li class="modal-nav-item">
          <a href="#reviews" class="modal-nav-link">User Reviews</a>
        </li>
        <li class="modal-nav-item">
          <a href="#how" class="modal-nav-link">How to Play</a>
        </li>
        <li class="modal-nav-item">
          <a href="#uniqueness" class="modal-nav-link">Our Uniqueness</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
