<section class="our">
  <div class="container our-clouds">
    <div class="our-wrapper">
      <h2 class="our-title">Our Uniqueness</h2>
      <div class="our-box-wrapper-top">
        <!-- <img
          srcset="./img/cloud1x.png 1x, ./img/cloud2x.png 2x"
          src="./img/cloud1x.png"
          alt="Cloud Storm Wings"
          class="our-cloud-top-top"
        /> -->

        <p class="our-description-top">
          Storm Wings stands out by blending fast-paced aerial combat with
          strategic weather elements. The unpredictable storm system creates a
          constantly changing battlefield, keeping players on their toes. The
          depth of aircraft customization and competitive multiplayer mode
          <span class="our-description-top-span"
            >offers a unique and engaging experience</span
          >
          not found in many mobile games.
        </p>

        <picture class="our-browse-top">
          <source
            srcset="
              ./img/browse-top1x-desk.png 1x,
              ./img/browse-top2x-desk.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/browse-top1x-mob.png 1x,
              ./img/browse-top2x-mob.png 2x
            "
            media="(max-width: 1199px)"
          />
          <img src="./img/browse-top1x-mob.png" alt="Browse top image" />
        </picture>

        <!-- <img
          srcset="./img/cloud1x.png 1x, ./img/cloud2x.png 2x"
          src="./img/cloud1x.png"
          alt="Cloud Storm Wings"
          class="our-cloud-top-bottom"
        /> -->
      </div>
    </div>

    <div class="our-text-lightning-wrapper">
      <p class="our-text-lightning">Join the Storm Wings community!</p>
    </div>

    <div class="our-box-wrapper-bottom">
      <p class="our-description-bottom">
        Thousands of players worldwide trust Storm Wings for its addictive
        gameplay, strong community, and fair competition.
        <span class="our-description-top-span"
          >Join our Discord and follow our social media channels</span
        >
        to stay updated with the latest news, updates, and community events!
        Here at Storm Wings, we prioritize player satisfaction and fair play,
        and we strive to offer you the best experience possible.
      </p>

      <picture class="our-browse-bottom">
        <source
          srcset="./img/browse1x-desk.png 1x, ./img/browse2x-desk.png 2x"
          media="(min-width: 1200px)"
        />
        <source
          srcset="./img/browse1x-mob.png 1x, ./img/browse2x-mob.png 2x"
          media="(max-width: 1199px)"
        />
        <img src="./img/browse1x-mob.png" alt="Browse image" />
      </picture>

      <!-- <img
        srcset="./img/cloud1x.png 1x, ./img/cloud2x.png 2x"
        src="./img/cloud1x.png"
        alt="Cloud Storm Wings"
        class="our-cloud-bottom-bottom"
      /> -->
    </div>
  </div>
</section>
