<section class="hero" id="home">
  <div class="container hero-cloud-container">
    <h1 class="hero-header">Rise Above the Storm!</h1>
    <p class="hero-text">
      Dive into the battle of the skies - become a Storm Wings legend! Storm
      Wings are waiting for you - conquer the sky!
    </p>
    <div class="hero-images">
      <picture class="hero-img">
        <source
          srcset="
            ./img/hero_img/iPhone15-desc1x.png 1x,
            ./img/hero_img/iPhone15-desc2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <img
          class="hero-img"
          
          src="./img/hero_img/iPhone15-mob1x.png"
          srcset="./img/hero_img/iPhone15-mob2x.png 2x"
          alt="iPhone15Pro"
        />
      </picture>
      
      <img
        srcset="./img/favikon1x.png 1x, ./img/favikon2x.png 2x"
        width="80"
        height="80"
        src="./img/favikon1x.png"
        alt="Favicon Storm Wings"
        class="hero-logo-img"
      />
    </div>
    <a
      href="https://play.google.com/store/apps/details?id=com.halfbrick.stormwings&hl=en&gl=us"
      target="_blank"
      class="hero-link"
    >
      <img
        srcset="
          ./img/google-play-icon1x.png 1x,
          ./img/google-play-icon2x.png 2x
        "
        width="24"
        height="27"
        src="./img/google-play-icon1x.png"
        alt="iPhone15Pro"
        class="google-img"
      />
      Play Now
    </a>
    <div id="cookieModal" class="accept-cookie-modal">
      <div class="accept-cookie-modal-content">
        <div class="accept-text-wrapper">
          <p class="accept-cookie-modal-title">Cookies Policy</p>
          <p class="accept-cookie-modal-text">
            We use cookies to improve your experience on our website. By browsing
            this website, you agree to our use of cookies.
          </p>
        </div>
        <div class="accept-btn-wrapper">
          <button class="accept-cookie-modal-btn" id="acceptCookies">
            ACCEPT COOKIES
          </button>
          <button class="accept-cookie-modal-btn" id="declineCookies">
            DECLINE COOKIES
          </button>
        </div>
      </div>
    </div>
    
  </div>
</section>
