<section class="vite-promo" id="reviews">
  <div class="container reviews-clouds">
    <h2 class="user-title how-title">User Reviews</h2>
    <div class="swiper reviewsSwiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <div class="review-container">
            <div class="review-img-thumb">
              <img
                src="./img/reviews_img/5_stars.png"
                alt="stars"
                class="review-img"
                width="116"
                height="20"
              />
            </div>
            <div class="review-text">
              <p class="review-content">
                Absolutely love the game! The graphics and storm effects are
                incredible. The combat is fun, and the customization options are
                vast. A must-try for any flying game fan!
              </p>
              <p class="review-author">John Doe</p>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="review-container">
            <div class="review-img-thumb">
              <img
                src="./img/reviews_img/5_stars.png"
                alt="stars"
                class="review-img"
                width="116"
                height="20"
              />
            </div>
            <div class="review-text">
              <p class="review-content">
                Great game, but sometimes the controls feel a bit unresponsive.
                Would love to see more control options.
              </p>
              <p class="review-author">Jane Smith</p>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="review-container">
            <div class="review-img-thumb">
              <img
                src="./img/reviews_img/4_stars.png"
                alt="stars"
                class="review-img"
                width="92"
                height="20"
              />
            </div>
            <div class="review-text">
              <p class="review-content">
                Very addictive! The storm mechanics add an exciting twist to the
                gameplay, but the in-app purchases can be a bit too tempting.
              </p>
              <p class="review-author">Michael Brown</p>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="review-container">
            <div class="review-img-thumb">
              <img
                src="./img/reviews_img/3_stars.png"
                alt="stars"
                class="review-img"
                width="68"
                height="20"
              />
            </div>
            <div class="review-text">
              <p class="review-content">
                Fun game, but sometimes the controls can feel a bit clunky,
                especially during intense dogfights. Still, the graphics and
                concept are great!
              </p>
              <p class="review-author">David Clark</p>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="review-container">
            <div class="review-img-thumb">
              <img
                src="./img/reviews_img/5_stars.png"
                alt="stars"
                class="review-img"
                width="116"
                height="20"
              />
            </div>
            <div class="review-text">
              <p class="review-content">
                The storm mechanics really set this game apart. I love how each
                mission feels different thanks to the weather. Highly recommend
                for anyone who loves action-packed games with a unique twist!
              </p>
              <p class="review-author">Olivia Green</p>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="review-container">
            <div class="review-img-thumb">
              <img
                src="./img/reviews_img/3_stars.png"
                alt="stars"
                class="review-img"
                width="68"
                height="20"
              />
            </div>
            <div class="review-text">
              <p class="review-content">
                Nice concept, but I wish the matchmaking was better for
                multiplayer mode. It's frustrating to be paired with much
                stronger opponents.
              </p>
              <p class="review-author">Emma White</p>
            </div>
          </div>
        </li>
      </ul>

      <div class="swiper-button-next reviews-swiper-button-next"></div>
      <div class="swiper-button-prev reviews-swiper-button-prev"></div>
    </div>
  </div>
</section>
