.advantages {
  scroll-margin-top: 60px;
  padding-bottom: 31px;
}

.advantages-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(180deg, #fb2600 0%, #ff7e56 100%);
  background-clip: text;
  color: #fb2600;
  -webkit-background-clip: text;
  filter: url(#stroke);
  text-shadow: 2px 2px 0px #ffefa1, -2px -2px 0px #ffefa1, -2px 2px 0px #ffefa1,
    2px -2px 0px #ffefa1;
  margin-bottom: 30px;
}

.advantages-thumb {
  display: none;
}
.group-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.first-group {
  margin-bottom: 20px;
}
.group-wrapper.single {
  margin-bottom: 20px;
}
.advantages-wrapper {
  max-width: 288px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  background-color: $_w_300;
  border: 8px solid $_w_400;
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.advantages-wrapper.cloud {
  padding: 70px 0px 60px 0px;
  background-color: transparent;
  border: none;

  box-shadow: none;
}
.advantages-wrapper.first-cloud {
  position: relative;
}
.advantages-wrapper.first-cloud::after {
  content: '';
  position: absolute;
  top: -54px;
  left: -88px;

  width: 440px;
  height: 321px;
  background-image: url('../img/cloud1x.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.advantages-wrapper.second-cloud {
  position: relative;
  padding: 47px 0px 47px 0px;
}
.advantages-wrapper.second-cloud::after {
  content: '';
  position: absolute;
  top: -49px;
  left: -91px;

  width: 440px;
  height: 321px;
  background-image: url('../img/cloud1x.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
  z-index: -1;
}

.advantages-part-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: $_purple_200;
  text-shadow: 2px 2px 0px #f2c2fb, -2px -2px 0px #f2c2fb, -2px 2px 0px #f2c2fb,
    2px -2px 0px #f2c2fb;
  margin-bottom: 16px;
}

.advantages-part-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: $_brown;
}

@media screen and (min-width: 1200px) {
  .advantages {
    scroll-margin-top: 102px;
    padding-bottom: 182px;
    
  }

  .advantages.container {
    position: relative;
  }

  .advantages-title {
    margin-bottom: 80px;
    text-align: left;
  }

  .advantages-thumb {
    display: block;
    position: absolute;
    left: 369px;
    top: 387px;
  }

  .group-wrapper {
    flex-direction: row;
    row-gap: 0px;
    column-gap: 16px;
  }

  .group-wrapper.single .advantages-wrapper {
    margin-left: initial;
    margin-right: initial;
  }

  .advantages-wrapper {
    max-width: 349px;

    padding: 16px 8px;
  }
  .advantages-wrapper.cloud {
    padding: 16px 8px;
  }

  .first-group {
    margin-bottom: 32px;
  }
  .group-wrapper.single {
    margin-bottom: 32px;
  }

  .advantages-part-title {
    font-size: 24px;
    margin-bottom: 24px;
  }

  .advantages-part-text {
    font-size: 16px;
    text-transform: uppercase;
  }

  .advantages-wrapper.first-cloud::after {
    top: -93px;
    left: -87px;

    width: 672px;
    height: 388px;
  }
  .advantages-wrapper.second-cloud::after {
    top: -57px;
    left: -230px;

    width: 706px;
    height: 405px;
  }
  .advantages-wrapper.second-cloud {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 53px;
    padding-bottom: 0px;
    margin-right: 48px;
  }
}
