body {
  background-color: $_backg;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.section {
  padding-top: 20px;
  font-family: Readex Pro;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  color: $_brown;
}

.container {
  max-width: 375px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.back-link-wrap {
  padding-left: 24px;
}

.back-link-cookies {
  max-width: 68px;
  display: inline-block;
  padding: 13px 12px;
  margin-bottom: 20px;

  background-color: $_200;
  border-radius: 8px;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  text-transform: initial;
  color: $_purple_200;
  filter: url(#stroke);
  text-shadow: 2px 2px 0px #f2c2fb, -2px -2px 0px #f2c2fb, -2px 2px 0px #f2c2fb,
    2px -2px 0px #f2c2fb;
}

.content-wrapper {
  max-width: 290px;
  padding: 16px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
  background-color: $_w_300;
  border: 8px solid $_w_400;
  border-radius: 16px;
}

.header {
  font-size: 24px;
  line-height: 120%;

  text-transform: uppercase;
  margin-bottom: 20px;
}

.sec-header {
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 20px;
}
.text {
  margin-bottom: 20px;
}

.text.nomargin {
  margin-bottom: 0px;
}
.list.nomargin {
  margin-bottom: 0px;
}
.list {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}
.link {
  text-decoration: underline;
  word-break: break-all;
}

.link.no-underline {
  display: block;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .section {
    font-size: 16px;
    text-transform: uppercase;
  }

  .container {
    max-width: 1200px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .back-link-cookies {
    max-width: 76px;
    padding: 16px;
    margin-bottom: 40px;
  }
  .back-link-wrap {
    padding-left: 93px;
  }

  .content-wrapper {
    max-width: 900px;
    margin-bottom: 78px;
  }

  .header {
    font-size: 36px;
    margin-bottom: 24px;
  }

  .sec-header {
    text-transform: initial;
    margin-bottom: 24px;
  }
  .text {
    margin-bottom: 24px;
  }

  .list {
    margin-bottom: 24px;
  }
}
