.footer {
  padding-top: 40px;
  background-color: $_w_300;
}

.footer-wrapper {
  padding-bottom: 32px;
}

.footer-logo {
  display: flex;
  column-gap: 16px;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

.footer-logo-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: $_black;
}

.footer-play {
  margin-bottom: 16px;
}

.footer-play-text {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(180deg, #fb2600 0%, #ff7e56 100%);
  background-clip: text;
  color: #fb2600;
  -webkit-background-clip: text;
  filter: url(#stroke);
  text-shadow: 2px 2px 0px #ffefa1, -2px -2px 0px #ffefa1, -2px 2px 0px #ffefa1,
    2px -2px 0px #ffefa1;
}

.footer-play-link {
  max-width: 290px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  padding: 9px 79px;
  background: $_white;
  border: 2px solid $_brown;
  border-radius: 12px;
  font-size: 16px;
  line-height: 1.2;
  color: $_black;
}

.footer-cloud {
  display: block;
  width: 294px;
  height: 205px;
  margin-right: auto;
  margin-left: auto;
}

.footer-nav-list {
  max-width: 294px;
  padding-left: 11px;
  padding-right: 70px;
  margin-right: auto;
  margin-left: auto;
}

.footer-nav-item {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: $_brown;
}
.footer-nav-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-rights {
  border-top: 1px solid rgba(84, 84, 84, 1);

  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
}
.footer-rights-container {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 8px 19px 8px 24px;
}
.footer-rights-text {
  display: inline-block;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 24px;
  }
  .footer-wrapper {
    position: relative;
    display: flex;
    padding-bottom: 0px;
  }
  .footer-logo {
    align-self: flex-start;

    margin-bottom: 0px;
    margin-right: 20px;
  }

  .footer-play {
    flex-grow: 1;
    margin-bottom: 0px;
    order: 2;
    padding-top: 58px;
  }
  .footer-play-text {
    margin-bottom: 32px;

    font-size: 26px;
  }
  .footer-play-link {
    max-width: 352px;
    margin: 0 auto;

    padding: 9px 110px;
  }

  .footer-cloud {
    width: 413px;
    height: 288px;
    transform: rotate(-11.28deg);
    margin-right: 64px;
    margin-left: initial;

    order: 1;
  }

  .footer-nav-list {
    position: absolute;
    top: 95px;
    max-width: 215px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: initial;
    margin-left: initial;
  }

  .footer-nav-item:not(:last-child) {
    margin-bottom: 7px;
  }

  .footer-rights {
    font-weight: 400;

    line-height: 100%;
  }
}
