.footer {
  background: #fdf6de;
  margin-top: auto;
}

.footer-wrapper {
}

.nav-logo-father {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-wrapper-nav-logo {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 32px;
}
.footer-favicon {
}
.footer-favicon-p {
  font-weight: 700;
  font-size: 20px;
  color: #000;
}
.footer-play {
}

.footer-play-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(180deg, #fb2600 0%, #ff7e56 100%);
  background-clip: text;
  color: #fb2600;
  -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  filter: url(#stroke);
  margin-bottom: 16px;
  text-shadow: 2px 2px 0px #ffefa1, -2px -2px 0px #ffefa1, -2px 2px 0px #ffefa1,
    2px -2px 0px #ffefa1;
}

.footer-btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #000;
  background: #fff;
  cursor: pointer;
  border: 2px solid #4f4333;
  border-radius: 12px;
  min-width: 288px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.footer-btn-svg {
}

.footer-cloud {
  width: 294px;
  height: 205px;
  margin-bottom: 24px;
  // transform: rotate(11deg);
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  padding-left: 8px;
}
.footer-nav-item {
}
.nav-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #4f4333;
}
.container-line {
  // width: 100%;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}
.footer-line {
  border: 1px solid #545454;
  height: 0px;
  width: 100%;
}

.footer-text {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;
  color: #4f4333;
  padding-bottom: 8px;
  text-align: center;
}

@media screen and (min-width: 1158px) {
  .footer {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .content-container {
    // transform: translateY(40px);
  }

  .footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .logo-nav {
  }
  .footer-wrapper-nav-logo {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: 24px;
    // margin-bottom: 35px;
  }
  .footer-favicon {
  }
  .footer-favicon-p {
    font-weight: 700;
    font-size: 20px;
    color: #000;
  }
  .footer-nav {
    gap: 7px;
  }
  .footer-nav-list {
    position: absolute;
    padding-left: 0;
    bottom: 10%;
  }
  .footer-nav-item {
  }
  // .nav-link {
  //   font-weight: 600;
  //   font-size: 16px;
  //   line-height: 1.5;
  //   text-transform: uppercase;
  //   color: #4f4333;
  // }
  .footer-cloud {
    transform: rotate(-11deg);
    position: relative;
    left: -40px;
    // bottom: -36px;
    top: -2px;
    width: 413px;
    height: 288px;
    order: 1;
    transform: rotate(-11deg);
  }
  .footer-play {
    order: 2;
  }
  .footer-play-text {
    font-size: 26px;
    text-align: right;
    padding-top: 82px;
    padding-bottom: 32px;
  }

  .footer-btn {
    // font-weight: 400;
    // font-size: 16px;
    // line-height: 1.2;
    // color: #000;
    // background: #fff;
    // cursor: pointer;
    // border: 2px solid #4f4333;
    // border-radius: 12px;
    min-width: 350px;
    // height: 49px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // gap: 30px;
  }

  .container-line {
    width: 100%;
    padding-bottom: 8px;
    transform: translateY(-40px);
    margin-bottom: -30px;
    padding-bottom: 0;
  }

  .footer-line {
    transform: translateY(-10px);
  }

  .footer-text {
    text-align: center;
    justify-content: space-between;
    font-weight: 400;
  }
}
