.header {
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: $_w_500;
  border: 1px solid $_brown;
  border-radius: 16px;
}
.back-button {
  display: none;
  padding: 13px 14px;

  background-color: $_w_500;
  border: 1px solid $_brown;
  border-radius: 16px;
}
.nav {
  display: none;
}
.nav-list {
  display: flex;
  column-gap: 20px;
}
.logo-img {
  border-radius: 16px;
}
.logo-text {
  display: none;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.25;
  color: $_black;
}

.burger-button {
  background-color: transparent;
  border: none;
  padding: 15px 14px;
}

@media screen and (min-width: 1200px) {
  .header-wrapper {
    align-items: center;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 11px;
    padding-bottom: 11px;
  }
  .burger-button {
    display: none;
  }

  .logo-text {
    display: block;
  }

  .nav {
    display: block;
  }
}
