.header {
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 10;
}
.header-wrapper {
  max-width: 288px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: $_w_500;
  border: 1px solid $_brown;
  border-radius: 16px;
}

.nav {
  display: none;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 33px;
  padding: 28.5px 24px;
  background-color: $_w_500;
  border: 1px solid $_brown;
  border-radius: 16px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
}
.logo-img {
  border-radius: 16px;
}
.logo-text {
  display: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.25;
  color: $_black;
}

.burger-button {
  background-color: transparent;
  border: none;
  padding: 15px 14px;
}

@media screen and (min-width: 1200px) {
  .header {
    top: 20px;
  }
  .header-wrapper {
    max-width: 1080px;
    align-items: center;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 11px;
    padding-bottom: 11px;
  }
  .burger-button {
    display: none;
  }

  .logo-text {
    display: block;
  }

  .nav {
    display: block;
  }
  .nav-list {
    flex-direction: row;
    align-items: center;

    padding: 0px 0px;
    background-color: $_w_500;
    border: none;
    border-radius: 0px;

    column-gap: 20px;
  }
}
