.how {
  scroll-margin-top: 60px;
}
.swiper {
  width: 100%;
  max-width: 293px;
  margin-left: auto;
  margin-right: auto;
}
.how-mySwiper-slide {
  max-width: 292px;
}

.how-clouds {
  padding-bottom: 82px;
}

.how-title {
 
  
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(180deg, #fb2600 0%, #ff7e56 132.29%);
  background-clip: text;
  color: #fb2600;
  -webkit-background-clip: text;
  filter: url(#stroke);
  text-shadow: 2px 2px 0px #ffefa1, -2px -2px 0px #ffefa1, -2px 2px 0px #ffefa1,
    2px -2px 0px #ffefa1;
  margin-bottom: 74px;
}

.slide-container {
  padding: 24px;
  max-width: 292px;
  border: 2px solid $_brown;
  border-radius: 16px;
  box-shadow: 2px 4px 6px 0px #00000040;
  background-color: $_w_300;
}
.slide-image {
  display: block;
  width: 240px;
  height: 240px;
}

.slide-text-container {
  height: 171px;
  padding-right: 6px;
  padding-left: 6px;
  padding-top: 20px;
}

.slide-title {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: $_purple_200;
  text-shadow: -1px -1px 0 #f2c2fb, 1px -1px 0 #f2c2fb, -1px 1px 0 #f2c2fb,
    1px 1px 0 #f2c2fb, 1px 2px 2px #d9d9d2;
}
.slide-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: left;
  color: $_brown;
}

.how-clouds::before {
  content: '';
  position: absolute;
  top: 21px;
  left: -33px;
  width: 173px;
  height: 111px;
  background-image: url('/img/cloud1x.png');
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(-30deg);
  z-index: 2;
}

.how-clouds::after {
  content: '';
  position: absolute;
  top: 507px;
  left: 183px;
  width: 173px;
  height: 111px;
  background-image: url('/img/cloud1x.png');
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  z-index: -1;
}

@media screen and (min-width: 1200px) {
  .how {
    scroll-margin-top: 102px;
  }
  .how-mySwiper-slide {
    max-width: 733px;
  }

  .how-clouds {
    position: relative;
   
    padding-bottom: 229px;
  }

  .how-title {
   
    font-size: 32px;
    margin-bottom: 86px;
  }

  .slide-container {
    max-width: 733px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 21px;
    

    border: 4px solid $_brown;
  }
  .slide-image {
    width: 349px;
    max-width: 349px;
    height: 379px;
  }

  .slide-text-container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 24px;

    padding-right: 10px;
    padding-left: 10px;
    padding-top: 0px;
  }

  .slide-title {
    font-size: 24px;
  }
  
  .swiper {
    width: 100%;
    max-width: 733px;
   
  }
  .how-clouds::before {
   
    top: 68px;
    left: -31px;
    width: 318px;
    height: 243px;
    
    transform: rotate(0deg);
    z-index: -1;
  }
  
  .how-clouds::after {
    
    top: 463px;
    left: 802px;
    width: 397px;
    height: 243px;
   
    transform: rotate(0deg);
    z-index: -1;
  }

}

