.our {
  position: relative;
  scroll-margin-top: 60px;
  padding-bottom: 32px;
}
.container {
  position: relative;
}

.our-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(180deg, #fb2600 0%, #ff7e56 100%);
  background-clip: text;
  color: #fb2600;
  -webkit-background-clip: text;
  filter: url(#stroke);
  text-shadow: 2px 2px 0px #ffefa1, -2px -2px 0px #ffefa1, -2px 2px 0px #ffefa1,
    2px -2px 0px #ffefa1;
  margin-bottom: 60px;
}

.our-wrapper {
  position: relative;
  max-width: 288px;
  padding-bottom: 320px;
  margin-left: auto;
  margin-right: auto;
}

.our-description {
  padding: 16px 8px 200px 8px;
  border: 8px solid $_w_400;
  border-radius: 16px;
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.25);
  background: $_w_300;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  color: $_brown;
  text-shadow: 2px 2px 0px #f2c2fb, -2px -2px 0px #f2c2fb, -2px 2px 0px #f2c2fb,
    2px -2px 0px #f2c2fb;
}

.our-description .color-text {
  color: $_purple_200;
}

.our-browse {
  width: 252px;
  height: 512px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 9px;
}

.our-text-lightning-wrapper {
  display: none;
}

.our-clouds::before {
  content: '';
  position: absolute;
  top: 18px;
  left: -58px;
  width: 184px;
  height: 111px;
  background-image: url('/img/cloud1x.png');
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  z-index: -1;
}

.our-clouds::after {
  content: '';
  position: absolute;
  top: 803px;
  left: 185px;
  width: 184px;
  height: 111px;
  background-image: url('/img/cloud1x.png');
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  z-index: -1;
}
.bottom::after {
  content: '';
  position: absolute;
  top: 723px;
  left: -32px;
  width: 184px;
  height: 111px;
  background-image: url('/img/cloud1x.png');
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  z-index: -1;
}

.our::before {
  content: '';
  position: absolute;
  top: 180px;
  left: 130px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: rgba(82, 135, 200, 1);
  filter: blur(120px);
  z-index: -10;
}
.our::after {
  content: '';
  position: absolute;
  top: 1050px;
  left: -20px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: rgba(82, 135, 200, 1);
  filter: blur(120px);
  z-index: -10;
}

@media screen and (min-width: 1200px) {
  .our {
    position: initial;
    scroll-margin-top: 102px;
    padding-bottom: 246px;
  }
  .our-title {
    font-size: 32px;
    text-align: left;
    margin-bottom: 151px;
  }

  .our-wrapper {
    max-width: 1082px;
    padding-bottom: 0px;
    margin-bottom: 205px;
  }
  .our-wrapper.bottom {
    margin-bottom: 0px;
  }

  .our-description {
    padding: 58px 546px 57px 83px;
    font-size: 16px;
    text-align: left;
  }

  .bottom .our-description {
    padding: 58px 84px 57px 540px;
  }

  .our-text-lightning-wrapper {
    display: block;
    max-width: 583px;
    margin-bottom: 232px;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid $_brown;
    border-radius: 8px;
    padding: 14px;
    background: $_w_300;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    color: $_purple_200;
    text-shadow: 2px 2px 0px #f2c2fb, -2px -2px 0px #f2c2fb,
      -2px 2px 0px #f2c2fb, 2px -2px 0px #f2c2fb;
    text-transform: uppercase;
  }

  .our-text-lightning-wrapper span {
    display: inline-block;
    margin-right: 6px;
    vertical-align: top;
  }

  .our-text-lightning::before,
  .our-text-lightning::after {
    content: '';
    display: inline-block;
    align-items: center;
    width: 18px;
    height: 29px;
    background: url('../img/lightning.png') no-repeat center / contain;
  }

  .our-text-lightning::before {
    margin-right: 6px;
  }
  .our-browse {
    width: 348px;
    height: 714px;
    top: 50%;
    transform: translate(0, -50%);
    left: 632px;
  }

  .bottom .our-browse {
    left: 104px;
  }

  .bottom::after {
    display: none;
  }
  .our-clouds::after {
    top: 937px;
    left: 862px;
    width: 349px;
    height: 213px;
    transform: rotate(360deg);
  }

  .our-clouds::before {
    top: 470px;
    left: -58px;
    width: 349px;
    height: 213px;

    transform: rotate(360deg);
    z-index: 1;
  }
  .our::before {
    display: none;
  }
  .our::after {
    display: none;
  }
}
