body {
  background-color: $_backg;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 375px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.section-container-policy {
}

.wraper-section-href {
  margin-bottom: 38px;
  margin-top: 38px;
}

.section-href {
  border-radius: 8px;
  padding: 12px;
  width: 68px;
  height: 48px;
  background: #eeefd4;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  color: #a243b1;
  filter: url(#stroke);
  margin-bottom: 16px;
  text-shadow: 2px 2px 0px #f2c2fb, -2px -2px 0px #f2c2fb, -2px 2px 0px #f2c2fb,
    2px -2px 0px #f2c2fb;
}
.title {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  color: #4f4333;
}
.text-wrapper {
  border: 8px solid #f7d0c2;
  border-radius: 16px;
  padding: 24px;
  width: 290px;
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.25);
  background: #fdf6de;
  margin-bottom: 24px;
  margin-top: 20px;
}

.section-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text-parag-ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: disc;
  list-style-position: inside;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
  color: #4f4333;
}

.policy-list-ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: disc;
  list-style-position: inside;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
  color: #4f4333;
  text-decoration: underline;
}

.title-parag {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: #4f4333;
}

.text-parag {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
  color: #4f4333;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .wraper-section-href {
    margin-bottom: 58px;
  }

  .section-href {
    border-radius: 8px;
    padding: 16px;
    width: 76px;
    height: 54px;
    background: #eeefd4;
  }

  .text-wrapper {
    width: 898px;
    margin-bottom: 74px;
    margin-top: 20px;
  }

  .title {
    margin-bottom: 24px;
    font-size: 36px;
  }

  .text-parag-ul {
    font-size: 16px;
    // text-transform: uppercase;
  }

  .policy-list-ul {
    font-size: 16px;
    // text-transform: uppercase;
  }

  .section-text {
    gap: 24px;
  }

  .text-parag {
    font-size: 16px;
    text-transform: uppercase;
    color: #4f4333;
  }
}
