@import './header.scss';
@import './advantages.scss';
@import './footer.scss';
@import './gameDescription.scss';
@import './howToPlay.scss';
@import './ourUniqueness.scss';
@import './riseAbove.scss';
@import './userReviews.scss';

// @import './vite-promo.scss';

:root {
  font-family: 'Readex Pro', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;

  color: #4f4333;
  background-color: rgb(185, 221, 249);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
